.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  background-image: url("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.login {
  display: inline-block;
  width: 400px;
  padding: 20px;
}

.buttonPane {
  position: absolute;
  right: 0px;
  top: 0px;
}

.buttonField {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-content: center;
}

.button {
  font-weight: bold;
  color: deepskyblue;
  font-family: Verdana;
  border: none;
  background: transparent;
  font-size: 15px;
}

.button:focus {
  outline: none;
}

.button:active {
  color: skyblue;
}

button:disabled {
  background-color: #cccccc;
}

.text {
  font-family: Verdana;
  margin: 0 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
