.summonerContainer {
  height: 100%;
  min-height: 100%;
}

.summonerPane {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  width: 200px;
  height: 100%;
  min-height: 100%;
  flex-grow: 1;
}
