.main {
  font-family: Verdana;
}

.inputField {
  display: flex;
  flex-direction: row;
  margin: 7px;
  align-content: space-between;
}

.input {
  width: 250px;
}

.label {
  flex-grow: 1;
  font-size: small;
  font-weight: bold;
  margin-right: 15px;
  margin-top: 2px;
  text-align: left;
}

.findButtonPane {
  display: flex;
  margin-top: 15px;
}


.findButton {
  flex-grow: 1;
  font-weight: bold;
  color: white;
  border: none;
  background: darkred;
  font-size: 15px;
  height: 25px;
  margin: 0 120px;
  margin-bottom: 5px;
}

.findButton:focus {
  outline: none;
}

.findButton:active {
  background: indianred;
}

.loggedIn {
  font-size: 24px;
  color: black;
  font-weight: bold;
}

.error {
  color: red;
  margin-top: 5px;
  font-size: 12px;
}

.rememberMeLabel {
  font-size: small;
}

.rememberMe {
  margin-top: 5px;
  font-size: small;
}
