.summoner {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #a5273a;
  height: 100%;
}

.summonerName {
  font-size: 20px;
  color: #000000;
  letter-spacing: 0.05em;
  font-weight: 900;
  margin-left: 5px;
  margin-bottom: -5px;
  text-align: center;
  font-style: italic;
}

.summonerLabels {

}

.leagueText,
.levelText,
.leagueTextContd,
.leagueName,
.infoText {
  font-weight: 800;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-left: 10px;
}

.levelText {
  text-align: center;
}

.leagueText,
.leagueName,
.infoText {
  margin-top: 10px;
}

.profileIcon {
  margin-top: 10px;
  width: 160px;
}

.leagueName,
.infoText {
  color: black;
}

.infoText {
  font-weight: normal;
  text-transform: none;
}
